name: Songdo OkPOS

on:
  repository_dispatch:
    types: [run-songdo-okpos]
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          
      - name: Setup Chrome
        uses: browser-actions/setup-chrome@v1

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Python Script
        env:
          SERVICE_ACCOUNT_JSON_BASE64: ${{ secrets.SERVICE_ACCOUNT_JSON_BASE64 }}
          SONGDO_OK_POS_ID: ${{ secrets.SONGDO_OK_POS_ID }}
          SONGDO_OK_POS_PW: ${{ secrets.SONGDO_OK_POS_PW }}
        run: |
          python 1-songdo-ok-pos-auto.py

